* {
	padding: 0;
	margin: 0;
}

body {
	background-color: black;
}

#wrapper {
	text-align: center;
	width: 150vh;
	margin: auto;
}

.title {
	font-family: 'Bungee Shade', cursive;
	color: white;
	font-size: 8vh;
	line-height: 8vh;
	margin: 3vh;
}

.io-section {
	height: 40vh;
	margin: 6vh 0vh;
}

.io-container {
	width: 40vh;
	height: 40vh;
	border: 2.5px solid white;
	border-radius: 3px;
	float: left;
}

.io-container img {
	max-width: 40vh;
	max-height: 40vh;
	margin: auto;
	line-height: 40vh;
	font-size: 3vh;
	color: white;
}

#input-img:hover {
	cursor: pointer;
}

#output-gif:hover {
	cursor: pointer;
}

.math-symbol {
	margin: 0vh 4.5vh;
	line-height: 40vh;
	font-size: 5vh;
	width: 5vh;
	float: left;
	color: white;
}

.search-section {
	margin: 3vh;
}

input[type=text] {
    width: 50%;
    padding: 10px;
    font-size: 300%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.fa {
	color: black;
	cursor: pointer;
}