/**********************/
/* GENERAL PAGE SETUP */
/**********************/

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

#wrapper {
  text-align: center;
  width: 125vh;
  margin: auto;
}

.title {
  font-family: 'Bungee Shade', cursive;
  color: white;
  font-size: 8vh;
  line-height: 8vh;
  margin: 3vh;
}

/*********************/
/* I/O IMAGE DISPLAY */
/*********************/

.io-section {
  height: 30vh;
  width: 121vh;
  margin: 6vh auto;
}

.io-container, .gif-container {
  width: 30vh;
  height: 30vh;
  float: left;
  position: relative;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: contain;
}

.io-container {
  border: 0.5vh solid white;
  border-radius: 0.5vh;
}

.math-symbol {
  margin: 0vh 4.5vh;
  line-height: 30vh;
  font-size: 5vh;
  width: 5vh;
  float: left;
  color: white;
}

/*********************/
/* GIF SEARCH ENGINE */
/*********************/

.search-bar {
  position: relative;
  margin: auto;
  width: 70vh;
  height: 9vh;
}

.search-bar input {
  width: 68vh;
  padding: 0.7vh;
  padding-left: 1vh;
  line-height: 3vh;
  font-size: 3vh;
}

.search-btn {
  position: absolute;
  top: 0px;
  right: 1.4vh;
  font-size: 2.5vh;
  line-height: 5vh;
}

.search-btn:hover {
  cursor: pointer;
  color: gray;
}

#giphy {
  height: 2.5vh;
  margin-left: 0.5vh;
  margin-top: 0.75vh;
  float: left;
}

#search-results {
  height: 30vh;
  margin: 2vh 0vh;
}

.gif-container {
  margin: 0.5vh;
  cursor: pointer;
}